<!-- Main Content -->

<div class="position-relative p-3 p-md-5 m-md-5 background4 text1">
<div class="row justify-content-md-center">
    <div class="col-8">
    <h2 class="display-3 text-center">Please Login</h2>
    <hr class="my-4">
    </div>
  </div>
<br>

<div class="container">
<div class="row">
<div class="offset-md-4 col-md-4">


<form method="POST" autocomplete="off">

   <fieldset class="form-group">
   <label for="username"> Name: </label>
   <input type="text" class="form-control" 
   id="username" name="username" 
   placeholder="Enter the name." required autofocus>
   </fieldset>

   <fieldset class="form-group">
   <label for="password"> Password: </label>
   <input type="password" class="form-control" 
   id="password" name="password" 
   placeholder="Enter the password." required>
   or
   <a href="/register"> Register Here</a>
   </fieldset>

   <br>
   <fieldset class="form-group text-right">
    <div class="row justify-content-around">
     <input type="submit" class="btn background1 " value="Login">
     <a href="/">
         <input type="button" class="btn background2 " value="Cancel">
     </a>
    </div>
   </fieldset>
   

   



</form>

</div>
</div>
</div>
</div>
