
<!-- <app-base-page></app-base-page> -->

<div class="position-relative p-3 p-md-1 m-md-5 text-center background4 text1">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Welcome to <br> K Survey</h1>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="/products">Create Survey</a>
    </div>
  </div>

  <div class="position-relative p-3 p-md-1 m-md-5 row featurette text1">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading">Insert Login here </h2>
         </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <!-- insert image & erase <rect> -->
        <rect width="100%" height="100%" fill="#eee"></rect>
    </svg>
    </div>
  </div>
